//************************//
// Font from Google fonts //
//************************//
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

//***********//
// Variables //
//***********//
:root {
  --bg-color: hsl(225, 100%, 98%);
  --border-color: hsl(226, 87%, 82%);
  --component-color: hsl(224, 100%, 91%);
  --main-color: hsl(226, 70%, 55%);
  --black-color: hsl(226, 50%, 24%);
  --white-color: hsl(210, 100%, 99%);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease-in-out;
  --font-family: 'Noto Sans', sans-serif;
}

//*********************//
// Reset default value //
//*********************//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

//***************//
// Base Settings //
//***************//
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--black-color);
  font-family: var(--font-family);
  font-size: 62.5%;
}

section {
  min-height: 100dvh;
  padding: 10rem 7% 2rem;
}

//********//
// Header //
//********//
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 2rem 1.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  background-color: transparent;
  transition: var(--transition);

  // Fixed Navbar
  &.fixed {
    background-color: var(--bg-color);
    box-shadow: 0 0.1rem 0.1rem var(--shadow-color);

    .navbar a {
      color: var(--black-color);

      &:hover {
        color: var(--main-color);
        border-bottom: 0.15rem solid var(--main-color);
      }

      &.active {
        color: var(--main-color);
        border-bottom: 0.15rem solid var(--main-color);
      }
    }

    #dark_mode {
      color: var(--black-color);
    }
  }

  // Images
  & img {
    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
    }

    &:nth-child(2) {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 60px;
    }
  }

  // Navigation
  .navbar a {
    position: relative;
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 2rem;
    text-transform: uppercase;
    border-bottom: 0.15rem solid transparent;
    transition: var(--transition);

    &:hover {
      border-bottom: 0.15rem solid var(--white-color);
    }

    &.active {
      border-bottom: 0.15rem solid var(--white-color);
    }
  }

  // Dark mode
  #dark_mode {
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
  }
}

//**************//
// Section Home //
//**************//
.home {
  display: flex;
  align-items: center;

  &_content {
    max-width: 44rem;

    h3 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 0.5;
    }

    h1 {
      font-size: 5.6rem;
      font-weight: 700;
      margin-bottom: 0.3rem;
    }

    .social_media {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;

        a {
          display: grid;
          place-items: center;
          width: 4rem;
          height: 4rem;
          background-color: transparent;
          border: 0.2rem solid var(--main-color);
          border-radius: 50%;
          box-shadow: 0 0.1rem 0.1rem var(--shadow-color);
          font-size: 2rem;
          color: var(--main-color);
          transition: var(--transition);

          &:hover {
            background-color: var(--main-color);
            color: var(--white-color);
          }
        }

        span {
          margin-top: 0.5rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .profession_container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50vw;
    height: 100dvh;
    overflow: hidden;
    pointer-events: none;

    .profession_box {
      position: absolute;
      top: 0;
      right: 0;
      width: 50vw;
      height: 100dvh;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: professionRotate 10s cubic-bezier(0.68, -0.55, 0.265, 1.55)
        infinite;

      .profession {
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: rotate(calc(360deg / 4 * var(--i)));
        transform-origin: 25vw;
        background-color: var(--bg-color);
        padding: 0.9rem 0;

        i {
          font-size: 3.8rem;
          color: var(--main-color);
        }

        h2 {
          font-size: 2.8rem;
          line-height: 1;
          font-weight: 600;
        }

        &:nth-child(1) i {
          margin-right: 15px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          padding-bottom: 25px;
        }

        &:nth-child(2) i,
        &:nth-child(4) i {
          margin-right: 40px;
        }
      }
    }
  }
}

@keyframes professionRotate {
  0%,
  20% {
    transform: rotate(0deg);
  }
  25%,
  45% {
    transform: rotate(-90deg);
  }
  50%,
  70% {
    transform: rotate(-180deg);
  }
  75%,
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.cercle {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  right: 0rem;
}

.overlay {
  img {
    &:nth-child(1) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  }
}

.home_img {
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 60dvh;
    width: 100%;
  }
}

//***************//
// Section About //
//***************//
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .about_img {
    img {
      width: 30vw;
    }
  }

  .about_content {
    h2 {
      font-size: 4rem;
      text-align: left;
      line-height: 1.2;
    }

    h3 {
      font-size: 1.8rem;
      color: var(--main-color);
    }

    p {
      font-size: 1.4rem;
      margin: 2rem 0 3rem;

      em {
        font-style: normal;
        color: var(--main-color);
      }
    }
  }
}

//**********************//
// Section Design & Web //
//**********************//
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 4rem;
    font-size: 4rem;
    text-align: center;
  }

  .portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

    .portfolio_box {
      position: relative;
      display: flex;
      border-radius: 2rem;
      box-shadow: 0 0.1rem 0.2rem var(--shadow-color);
      overflow: hidden;
      padding: 1rem;
      background-color: var(--white-color);

      &:hover img {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        transition: var(--transition);
      }

      .portfolio_layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background: linear-gradient(rgba(0, 0, 0, 0.1), var(--black-color));
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: var(--transition);
        cursor: pointer;

        h3 {
          font-size: 3rem;
          font-weight: 900;
          color: var(--main-color);
        }

        h4 {
          font-size: 1.6rem;
          text-align: center;
        }

        a {
          margin-top: 5rem;
          padding: 1rem 2rem;
          background-color: var(--main-color);
          color: var(--white-color);
          text-transform: uppercase;
          font-weight: 500;
          border-radius: 0.5rem;
          font-size: 1rem;
          border: 0.2rem solid transparent;
          box-shadow: 0 0.1rem 0.1rem var(--shadow-color);
          transition: var(--transition);

          &:hover {
            border: 0.2rem solid var(--main-color);
            background-color: var(--white-color);
            color: var(--main-color);
          }
        }
      }

      &:hover .portfolio_layer {
        opacity: 1;
      }
    }
  }
}
